* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', sans-serif;
}

img {
  max-width: 100%;
}

@-webkit-keyframes fading-in {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fading-in {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
    visibility: visible;
  }
}

@-webkit-keyframes fading-out {
  0% {
    opacity: 1;
    visibility: visible;
  }

  to {
    opacity: 0;
  }
}

@keyframes fading-out {
  0% {
    opacity: 1;
    visibility: visible;
  }

  to {
    opacity: 0;
  }
}

.btn {
  border: none;
  border-radius: 7px;
  font-family: 'Helvetica Neue bold', sans-serif;
}

.bg--dark {
  color: white;
  background-color: #040c1f;
}

.tinkoff {
  background: #040c1f url("../img/help/tinkoff-bank.png") no-repeat center right 20%/450px;
}

.input {
  border: 1px solid #95989a;
  padding: 15px 50px 15px 20px;
  border-radius: 5px;
  outline: none;
}

iframe {
  width: 100%;
  height: 419px;
  border: none;
}

.form__input {
  vertical-align: middle;
  margin-right: 30px;
}

.form__btn {
  vertical-align: middle;
  padding: 15px 30px;
}

.policy__link {
  text-decoration: none;
  color: white;
}

.section {
  padding: 90px 0;
}

.section__title {
  font-size: 36px;
  font-family: 'Helvetica Neue bold', sans-serif;
  max-width: 580px;
  margin-bottom: 100px;
}

.section__discription {
  margin: 30px 0;
}

.section__form {
  margin-bottom: 70px;
}

.footer {
  padding: 50px 0;
  background-color: #040c1f;
}

.footer__text {
  margin: 0;
  color: #95989a;
}

.modal--opened {
  -webkit-animation: fading-in 0.75s ease-in-out forwards;
          animation: fading-in 0.75s ease-in-out forwards;
}

.modal--closed {
  -webkit-animation: fading-out 0.75s ease-in-out forwards;
          animation: fading-out 0.75s ease-in-out forwards;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: local("Helvetica Neue Roman"), local("Helvetica-Neue-Roman"), url("../fonts/HelveticaNeueCyr-Roman.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Roman.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue bold';
  src: local("Helvetica Neue Bold"), local("Helvetica-Neue-Bold"), url("../fonts/HelveticaNeueCyr-Bold.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

.header {
  background: #040c1f url("../img/header/main-bg.png") no-repeat;
  background-position: center;
  color: white;
  background-size: cover;
  padding: 70px 0;
}

.header-phone {
  text-align: right;
}

.header-phone__number {
  font-size: 20px;
  color: white;
  text-decoration: none;
  margin-left: 60px;
  display: inline-block;
}

.header__title {
  font-size: 38px;
  font-style: normal;
  letter-spacing: normal;
  line-height: 63px;
  text-align: left;
  font-family: 'Helvetica Neue bold', sans-serif;
}

.header__subtitle {
  margin-top: 50px;
  max-width: 460px;
  font-size: 30px;
  font-style: normal;
  letter-spacing: normal;
  line-height: 40px;
  text-align: left;
}

.header__triggers {
  margin-top: 50px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.header-trigger {
  width: 194px;
  margin-top: 20px;
}

.header__btn {
  padding: 20px 40px;
}

.header--top {
  margin-top: 160px;
}

.product-card {
  text-align: center;
  padding: 30px;
  box-shadow: 0 3px 15px rgba(51, 51, 51, 0.19);
  border-radius: 7px;
}

.product-card__title {
  font-family: 'Helvetica Neue bold', sans-serif;
  font-size: 24px;
}

.product-card__img {
  margin-top: 10px;
  width: 160px;
  height: 170px;
}

.product-card__text {
  margin-bottom: 20px;
}

.product-card__price {
  font-size: 24px;
  margin-bottom: 20px;
  display: block;
}

.product__card {
  margin-bottom: 30px;
}

.product__btn {
  padding: 15px 0;
  width: 100%;
}

.help {
  background: #040c1f url("../img/help/help.png") no-repeat center right 20%/450px;
}

.help__title {
  font-size: 35px;
  font-family: 'Helvetica Neue bold', sans-serif;
  line-height: 1.4;
  max-width: 70%;
}

.extra {
  background: white url("../img/extra/abstract-top.png") no-repeat left top;
}

.extra-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  background-color: white;
}

.extra-card {
  -webkit-flex-basis: 24%;
      -ms-flex-preferred-size: 24%;
          flex-basis: 24%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26);
  padding: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: inherit;
  -webkit-justify-content: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
}

.extra-card__title {
  font-size: 24px;
  font-family: 'Helvetica Neue bold', sans-serif;
}

.extra-card__text {
  min-height: 71px;
}

.extra-card__price {
  font-size: 24px;
  font-family: 'Helvetica Neue bold', sans-serif;
  color: #796eff;
  margin-bottom: 20px;
}

.extra-card__btn {
  padding: 15px 0;
  width: 100%;
}

.reason {
  background: white url("../img/reason/abstract-bottom.png") no-repeat right bottom;
}

.reason__title {
  font-family: 'Helvetica Neue bold', sans-serif;
  font-size: 20px;
  margin-bottom: 20px;
}

.reason__title::before {
  content: '';
  display: inline-block;
  width: 21px;
  height: 21px;
  background: url("../img/reason/check.png") no-repeat center/100%;
  vertical-align: top;
  margin-right: 10px;
}

.contact__title {
  font-family: 'Helvetica Neue bold', sans-serif;
  margin-bottom: 15px;
}

.contact__address {
  margin-bottom: 15px;
  line-height: 24px;
}

.contact__work {
  margin-bottom: 15px;
  line-height: 24px;
}

.contact__phone {
  text-decoration: none;
  color: black;
  display: block;
}

.modal {
  background-color: rgba(4, 12, 31, 0.5);
}

.modal-dialog {
  margin: auto;
  background-color: white;
  max-width: 350px;
}

.modal-title {
  font-family: 'Helvetica Neue bold', sans-serif;
  font-size: 24px;
  text-align: center;
}

.modal-body {
  padding: 20px;
}

.modal__form {
  text-align: center;
}

.modal__input {
  padding: 15px 0 15px 15px;
  width: 100%;
  border: 1px solid #95989a;
  border-radius: 5px;
  outline: none;
  margin-bottom: 20px;
}

.modal__btn {
  padding: 15px 0;
  width: 100%;
}

.show {
  display: block;
  padding-top: 200px;
}

@media screen and (max-width: 1024px) {
  .section {
    padding: 30px 0;
  }

  .section__title {
    font-size: 30px;
    margin-bottom: 50px;
  }

  .header__title {
    font-size: 30px;
    line-height: 1.4;
  }

  .header--top {
    margin-top: 60px;
  }

  .header__subtitle {
    font-size: 24px;
  }

  .header-trigger {
    width: auto;
  }

  .header--visiual {
    z-index: 200;
  }

  .header__img {
    width: 200px;
    height: 200px;
    top: -450px;
    position: absolute;
    right: 0;
  }

  .product-card__title {
    font-size: 20px;
  }

  .product-card {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px;
  }

  .product-card__text {
    font-size: 14px;
  }

  .product-card__price {
    font-size: 20px;
  }

  .help__title {
    font-size: 26px;
    margin-bottom: 20px;
  }

  .form__input {
    vertical-align: middle;
    margin-right: 10px;
  }

  .input {
    border: 1px solid #95989a;
    padding: 15px 30px 15px 20px;
    border-radius: 5px;
    outline: 0;
  }

  .form__btn {
    vertical-align: middle;
    padding: 15px 9px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    font-size: 14px;
  }

  .header__title {
    font-size: 30px;
    line-height: 1.4;
  }

  .header--top {
    margin-top: 60px;
  }

  .header__title {
    font-size: 30px;
    line-height: 1.4;
  }

  .header--visiual {
    z-index: 200;
  }

  .header__img {
    width: 200px;
    height: 200px;
    top: -425px;
    position: absolute;
    left: 450px;
  }

  .help__title {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .form__input {
    vertical-align: middle;
    margin-right: 10px;
  }

  .input {
    border: 1px solid #95989a;
    padding: 15px 30px 15px 20px;
    border-radius: 5px;
    outline: 0;
  }

  .form__btn {
    vertical-align: middle;
    padding: 15px 9px;
  }

  .extra-card {
    -webkit-flex-basis: 48%;
        -ms-flex-preferred-size: 48%;
            flex-basis: 48%;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 568px) {
  .section {
    padding: 30px 0;
  }

  .section__title {
    font-size: 30px;
    margin-bottom: 50px;
  }

  .column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__logo {
    margin-bottom: 40px;
  }

  .footer__text {
    margin-bottom: 20px;
  }

  .logo {
    max-width: none;
  }

  .header-phone {
    display: none;
  }

  .header--top {
    margin-top: 20px;
  }

  .header__title {
    font-size: 30px;
    line-height: 1.4;
  }

  .header__subtitle {
    margin-top: 36px;
    font-size: 20px;
  }

  .header--visiual {
    z-index: 200;
  }

  .header__img {
    top: -450px;
    position: absolute;
    left: 80px;
  }

  .help__title {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .input {
    padding: 15px 0 15px 30px;
    width: 100%;
  }

  .form__input {
    margin-bottom: 20px;
  }

  .section__discription {
    display: none;
  }

  .extra-card {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    margin-bottom: 20px;
  }
}