.header {
  background: $dark url('../img/header/main-bg.png') no-repeat;

  background-position: center;
  color: white;
  background-size: cover;
  padding: 70px 0;

  &-phone {
    text-align: right;

    &__number {
      font-size: 20px;
      color: white;
      text-decoration: none;
      margin-left: 60px;
      display: inline-block;
    }
  }

  &__title {
    font-size: 38px;
    font-style: normal;
    letter-spacing: normal;
    line-height: 63px;
    text-align: left;
    @include bold;
  }

  &__subtitle {
    margin-top: 50px;
    max-width: 460px;
    font-size: 30px;
    font-style: normal;
    letter-spacing: normal;
    line-height: 40px;
    text-align: left;
  }

  &__triggers {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &-trigger {
    width: 194px;
    margin-top: 20px;
  }

  &__btn {
    padding: 20px 40px;
  }
}

.header--top {
  margin-top: 160px;
}

@media screen and (max-width: 1024px) {

  .header__title {
    font-size: 30px;
    line-height: 1.4;
  }

  .header--top {
    margin-top: 60px;
  }

  .header__subtitle {
    font-size: 24px;
  }

  .header-trigger {
    width: auto;
  }
}

@media screen and (max-width: 768px) {
  .header__title {
    font-size: 30px;
    line-height: 1.4;
  }

  .header--top {
    margin-top: 60px;
  }

  .header__title {
    font-size: 30px;
    line-height: 1.4;
  }

  .header--visiual {
    z-index: 200;
  }

  .header__img {

    width: 200px;
    height: 200px;
    top: -425px;
    position: absolute;
    left: 450px;

  }
}




@media screen and (max-width: 568px) {
  .logo {
    max-width: none;
  }

  .header-phone {
    display: none;
  }

  .header--top {
    margin-top: 20px;
  }

  .header__title {
    font-size: 30px;
    line-height: 1.4;
  }

  .header__subtitle {
    margin-top: 36px;
    font-size: 20px;
  }

  .header--visiual {
    z-index: 200;
  }

  .header__img {

    top: -450px;
    position: absolute;
    left: 80px;
  }
}