.help {

  background: #040c1f url('../img/help/help.png') no-repeat center right 20% / 450px;


  &__title {
    font-size: 35px;
    @include bold;
    line-height: 1.4;
    max-width: 70%;
  }
}

@media screen and (max-width: 1024px) {

  .help__title {
    font-size: 26px;
    margin-bottom: 20px;
  }
  .form__input {
    vertical-align: middle;
    margin-right: 10px;
  }

  .input {
    border: 1px solid #95989a;
    padding: 15px 30px 15px 20px;
    border-radius: 5px;
    outline: 0;
  }

  .form__btn {
    vertical-align: middle;
    padding: 15px 9px;
  }

}

@media screen and (max-width: 768px) {

  .help__title {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .form__input {
    vertical-align: middle;
    margin-right: 10px;
  }

  .input {
    border: 1px solid #95989a;
    padding: 15px 30px 15px 20px;
    border-radius: 5px;
    outline: 0;
  }

  .form__btn {
    vertical-align: middle;
    padding: 15px 9px;
  }
}

  @media screen and (max-width: 568px) {

    .help__title {
      font-size: 20px;
      margin-bottom: 20px;
    }

    .input {
      padding: 15px 0 15px 30px;
      width: 100%;
    }

    .form__input {
      margin-bottom: 20px;
    }

    .section__discription {
      display: none;
    }
  }