body,
html {

  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', sans-serif;

}

img {
  max-width: 100%;
}

 

.btn {
  border: none;
  border-radius: 7px;
  padding: 25px 50px;
  font-size: 20px;
  font-weight: 700;
}
 
$dark:#040c1f;